<header>
    <nav>
        <ul>
            <li>
                <a href="/shop" class="<%= path === 'shop' ? 'active' : '' %>">Shop</a>
            </li>
            <li>
                <a href="/admin/add-product" class="<%= path === 'add-product' ? 'active' : '' %>">Add Product</a>
            </li>
        </ul>
    </nav>
</header>