form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
}

button {
    width: 150px;
    height: 35px;
    background-color: #E91E63;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
}

.control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-family: sans-serif;
    margin-bottom: 5px;
    opacity: 0.8;
}

textarea#description {
    height: auto;
}